<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div style="text-align: left;" class="container"  >            
            The grade application is for adding deliverables and calculating course mark. Click <a href="../other/PDFViewer" th:href="@{/PDFViewer}">here</a> to view the Design Documentation.
        </div>
        <div style="text-align: left;" class="container"  >          
            This project is based on a sample application provided by Spring (PetClinic).
        </div>
        <div style="text-align: right;" class="container"  >            
            CIS2232 - 2015/2016
        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
