<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container"  >    
            <object  th:data="@{/resources/files/Design_Documentation.pdf}" data="../../resources/files/Design_Documentation.pdf" type="application/pdf" width="500" height="500" style="display:block;margin: 0px auto;">
                <p>It appears you don't have Adobe Reader or PDF support in this web browser. 
                    <a th:href="@{/resources/files/Design_Documentation.pdf}" href="../../resources/files/Design_Documentation.pdf">Click Here To Download The PDF</a>. Or 
                    <a href="http://get.adobe.com/reader/" target="_blank">Click Here To Install Adobe Reader</a>
                </p>
            </object>
        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
